{{- $githubToken := (promptString "Enter your GitHub token (for private repo access):") -}}
{{- $privateRepo := (default "johnston/dotfiles-private" (env "DOTFILES_PRIVATE_REPO")) -}}

[data]
  githubToken = "{{ $githubToken }}"
  privateRepo = "{{ $privateRepo }}"